services:
  wordpress:
    image: wordpress:php8.2-apache
    volumes:
      - wordpress-files:/var/www/html
      - ./php.ini:/usr/local/etc/php/conf.d/zz-custom.ini
    environment:
      - SERVICE_FQDN_WORDPRESS
      - WORDPRESS_DB_HOST=mysql
      - WORDPRESS_DB_USER=${SERVICE_USER_WORDPRESS}
      - WORDPRESS_DB_PASSWORD=${SERVICE_PASSWORD_WORDPRESS}
      - WORDPRESS_DB_NAME=wordpress
      - WORDPRESS_CONFIG_EXTRA=
          define('WP_MEMORY_LIMIT', '512M');
          define('WP_MAX_MEMORY_LIMIT', '512M');
    depends_on:
      mysql:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1"]
      interval: 5s
      timeout: 10s
      retries: 10

  mysql:
    image: mysql:8
    volumes:
      - mysql-data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${SERVICE_PASSWORD_ROOT}
      - MYSQL_DATABASE=wordpress
      - MYSQL_USER=${SERVICE_USER_WORDPRESS}
      - MYSQL_PASSWORD=${SERVICE_PASSWORD_WORDPRESS}
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1"]
      interval: 5s
      timeout: 20s
      retries: 10

volumes:
  wordpress-files:
  mysql-data:
